<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment || page</title>
    <link rel="shortcut icon" href="static\img\favicon_io\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center" bis_skin_checked="1">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
              viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <a href="#"><span class="md:ml-3 text-xl font-semibold lg:border-e-cyan-700 border-2 p-1 mt-1 sm:border-none">FIGs Bank</span></a>
          </a>
          <nav class=" mt-7 md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center font-semibold">
            <a class="mr-7 text-gray-950 hover:text-slate-500  cursor-pointer text-xl " href="home">Home</a>
            <a class="mr-7  text-gray-950 hover:text-slate-500  cursor-pointer text-xl " href="about">About</a>
            <a class="mr-7   text-gray-950 hover:text-slate-500 cursor-pointer text-xl " href="contact"> Contact</a>
            <a class="mr-7   text-gray-950 hover:text-slate-500 cursor-pointer text-xl" href="payment">Payment</a>
          </nav>
          <button
            class="hidden md:inline-flex items-center bg-blue-500 border-0 py-2 px-4 focus:outline-none hover:bg-gray-200 sm: rounded text-base mt-4 sm:mt-0 text-white">Payment
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>

      <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap" bis_skin_checked="1">
          <div class="flex flex-wrap w-full" bis_skin_checked="1">
            <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6" bis_skin_checked="1">
              <div class="flex relative pb-12" bis_skin_checked="1">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center" bis_skin_checked="1">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none" bis_skin_checked="1"></div>
                </div>
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10" bis_skin_checked="1">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                  </svg>
                </div>
                <div class="flex-grow pl-4" bis_skin_checked="1">
                  <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 1</h2>
                  <p class="leading-relaxed">VHS cornhole pop-up, try-hard 8-bit iceland helvetica. Kinfolk bespoke try-hard cliche palo santo offal.</p>
                </div>
              </div>
              <div class="flex relative pb-12" bis_skin_checked="1">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center" bis_skin_checked="1">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none" bis_skin_checked="1"></div>
                </div>
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10" bis_skin_checked="1">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                  </svg>
                </div>
                <div class="flex-grow pl-4" bis_skin_checked="1">
                  <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 2</h2>
                  <p class="leading-relaxed">Vice migas literally kitsch +1 pok pok. Truffaut hot chicken slow-carb health goth, vape typewriter.</p>
                </div>
              </div>
              <div class="flex relative pb-12" bis_skin_checked="1">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center" bis_skin_checked="1">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none" bis_skin_checked="1"></div>
                </div>
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10" bis_skin_checked="1">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <circle cx="12" cy="5" r="3"></circle>
                    <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
                  </svg>
                </div>
                <div class="flex-grow pl-4" bis_skin_checked="1">
                  <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 3</h2>
                  <p class="leading-relaxed">Coloring book nar whal glossier master cleanse umami. Salvia +1 master cleanse blog taiyaki.</p>
                </div>
              </div>
              <div class="flex relative pb-12" bis_skin_checked="1">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center" bis_skin_checked="1">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none" bis_skin_checked="1"></div>
                </div>
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10" bis_skin_checked="1">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex-grow pl-4" bis_skin_checked="1">
                  <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">STEP 4</h2>
                  <p class="leading-relaxed">VHS cornhole pop-up, try-hard 8-bit iceland helvetica. Kinfolk bespoke try-hard cliche palo santo offal.</p>
                </div>
              </div>
              <div class="flex relative" bis_skin_checked="1">
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10" bis_skin_checked="1">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                    <path d="M22 4L12 14.01l-3-3"></path>
                  </svg>
                </div>
                <div class="flex-grow pl-4" bis_skin_checked="1">
                  <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">FINISH</h2>
                  <p class="leading-relaxed">Pitchfork ugh tattooed scenester echo park gastropub whatever cold-pressed retro.</p>
                </div>
              </div>
            </div>
            <img class="lg:w-3/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12" src="https://dummyimage.com/1200x500" alt="step">
          </div>
        </div>
      </section>
</body>
</html> 